<!-- Partial that shows when creating a new friend -->
<h2 class="center-align">New User</h2>
<div class="row">
  <form ng-submit="createUser()" class='col s6 push-s3 pull-s3'>
    <label for="first_name"> First Name: </label>
    <input type="text" name="first_name" ng-model='user.first_name'>
    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" ng-model='user.last_name'>
    <input type="submit" name="submit" value="Add New User">
  </form>
</div>
<div class="row">
  <table class='col s8 striped'>
    <thead>
      <tr>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Created On </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat='user in users | orderBy: sortType: sortReverse | filter: {first_name: nameFilter}'>
        <td> {{user.first_name}} </td>
        <td> {{user.last_name}} </td>
        <td> {{user.createdAt}}
        <td> <button ng-click="deleteUser(user._id)">Delete User</button></td>
      </tr>
    </tbody>
  </table>
  <div class='input-field col s4'>
    <input id="name_search" type="text" placeholder="Filter by First Name" ng-model="nameFilter">
  </div>
</div>
